<link rel="stylesheet" href="./css/style.css">
<script type="text/javascript" src="/js/excluirPets.js"></script>

<!-- Animais Para Adoção -->
<div class="container-fluid">

    <h2 class="titulo">Lista dos Seus Pets Doados</h2>

    {{#each pets}}
     <div class="container-fluid">
        <div class="card margin-postado">
            <div class="row no-gutters">
                <div class="col-auto">
                    <img src="/images-adocao/{{fotoPet}}" style="width: 350px; height: auto"
                        class="img-fluid img-thumbnail" alt="">
                </div>
                <div class="col">
                    <div class="card-block px-2">
                        <div class="card-body">
                            <h4 class="card-title">Nome: {{nomePet}}</h4>
                            <p class="card-text">{{observacoes}}</p>

                            <ul class="list-group list-group-horizontal-xl">
                                <li class="list-group-item list-group-item-light flex-fill"><strong>Idade:
                                        {{idade}}</strong></li>
                                <li class="list-group-item list-group-item-light flex-fill"><strong>Sexo:
                                        {{sexo}}</strong></li>
                                <li class="list-group-item list-group-item-light flex-fill"><strong>Cor:
                                        {{cor}}</strong></li>
                                <li class="list-group-item list-group-item-light flex-fill"><strong>Raca:
                                        {{raca}}</strong></li>
                                <li class="list-group-item list-group-item-light flex-fill"><strong>Peso:
                                        {{peso}}</strong></li>
                                <li class="list-group-item list-group-item-light flex-fill"><strong>Tamanho:
                                        {{tamanho}}</strong></li>
                                <li class="list-group-item list-group-item-light flex-fill"><strong>Vacinado:
                                        {{opcaoVacinado}}</strong></li>
                                <li class="list-group-item list-group-item-light flex-fill"><strong>Castrado:
                                        {{opcaoCastrado}}</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer w-100 text-muted d-flex flex-row justify-content-between">
                <small class="text-muted margin-postado"><span class="icon-clock-o"></span> <strong>Pet Doado por Você</strong></small>
                <a href="/doacao/editpet/{{id}}" class="btn btn-danger">Editar</a>
                <a onclick="excluirpet({{id}})" style="color: white;" class="btn btn-danger">Excluir</a>
            </div>
        </div>
    </div>

    {{/each}}



    
</div>
</div>